
.hidden {
  display: none;
}

.main-pic {
  height: 90vh;
  width: 100%;
}

nav {
  border-radius: 1rem;
}

h6 {
  font-weight: bolder;
}

nav > img {
  transform: scale(1);
}

.hotel-display-div img {
  width: 200px;
}

nav > img:hover {
  cursor: pointer;
  transform: scale(1.5);
}

nav > img:active {
  cursor: pointer;
  transform: scale(1);
}

.input-container {
  transform: scale(0.8);
  border: 3px solid lightcyan;
  border-style: ridge;
  opacity: 0.75;
}

.error-border {
  border: 3px solid rgb(243, 150, 150);
}

header {
  border-radius: 5px;
  height: 10vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: sans-serif, 'Times New Roman', Times, serif;
}

div > h3 {
  background-color: lightcyan;
  margin-bottom: 0;
  border-bottom: 10px solid goldenrod;
}

.hotel-list {
  width: 100%;
  height: 75vh;
  background-color: lightcyan;
  overflow: auto;
  align-items: center;
}

.hotel-name {
  max-width: 400px;
  font-size: 1rem;
  font-weight: bolder;
  overflow: auto;
}

.hotel-name:hover {
  cursor: pointer;
  font-size: 1.2rem;
  color: goldenrod;
}

.hotel-name:active {
  font-size: 1rem;
}

.arrow-div {
  background-color: lightcyan;
}

.back-arrow {
  transform: scale(1);
}

.back-arrow:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.back-arrow:active {
  transform: scale(1);
}

.search-btn:hover {
  background-color: royalblue;
  transform: scale(1.15);
}

.search-btn:active {
  transform: scale(1);
}

.hotel-display-div {
  width: 400px;
  word-wrap: break-word;
}

.hotel-display-div:not(:last-child) {
  border-bottom: 3px solid red;
  border-bottom-style: inset;
}

.hotel-display-div img:hover {
  animation: enlarge 1s linear;
  transform: scale(1.25);
  cursor: pointer;
}

.user-error {
  font-size: 1rem;
  color: red;
}

.bottom-navs {
  position: fixed;
  width: 100%;
  height: 10vh;
  border-radius: 0;
  background-image: linear-gradient(#f8a170, #ffcd61);
  z-index: 999;
}

.loader-container {
  background-image: linear-gradient(#f8a170, #ffcd61);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  animation: spin 1.75s linear infinite;
}

.tilt {
  animation: tilt 15s;
  animation-iteration-count: infinite;
}

@keyframes tilt {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-3deg); }
  20% { transform: translate(-3px, 0) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-3deg); }
  60% { transform: translate(-3px, 2px) rotate(0deg); }
  70% { transform: translate(3px, 3px) rotate(-3deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-3deg); }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes enlarge {
  from { transform: scale(1); }
  to { transform: scale(1.25); }
}
