
.loader {
  border: 12px solid #807a7a;
  border-top: 12px solid #3498db;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  animation: spin 1.75s linear infinite;
}

.navbar {
  height: 10vh;
}

button {
  transform: scale(1);
}

button:active {
  transform: scale(0.9);
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-pic {
  height: 86vh;
}

nav > img:active,
nav > img:hover,
.hotel-name:hover,
.heart,
i {
  cursor: pointer;
}

header {
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: sans-serif, 'Times New Roman', Times, serif;
}

div > h3 {
  background-color: rgb(237, 244, 250);
}

.big-container,
.home,
.result-container,
.heart,
.photo-div {
  font-weight: bolder;
  font-family: sans-serif;
  background-color: whitesmoke;
  border: none;
  outline: none;
  overflow-y: auto;
}

.trash-icon:hover,
i:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.fav-button:active {
  transform: scale(0.8);
}

.fav-img {
  width: inherit;
}

.fav-button:focus,
button:focus {
  border: none;
  outline: none;
}

.fav-hotel-div {
  overflow: auto;
}

.search-form {
  max-width: 480px;
  display: block;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.75);
}

.search-container {
  background-image: url("./images/searchImg.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}

.hotel-img {
  max-width: 100%;
}

.results-container {
  margin: auto;
  max-width: 1200px;
}

.hotel-details-page,
.hotel-results-list {
  background-color: rgb(237, 244, 250);
  padding: 3rem;
}

.property-img {
  max-width: 170px;
  max-height: 170px;
  transform: scale(1);
}

.property-img:hover {
  cursor: pointer;
  transform: scale(1.25);
  border: 1px solid goldenrod;
}

.hotel-info-container {
  transform: scale(1);
  max-width: 260px;
  max-height: 80vh;
}

.hotel-info-container:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.photo-page-div {
  height: 65vh;
  overflow-y: auto;
  background-color: lightcyan;
}

.card,
.card-header {
  border: 1px lightcyan gray;
}

.photos-accordion {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

h4:hover {
  color: royalblue;
  transform: scale(1.1);
}

.indicator {
  border-top: 2px solid orange;
}

.modal-div {
  width: 90vw;
  max-height: 70vh;
}

.fade-out {
  opacity: 0;
  animation: fade-out 2s linear;
}

@keyframes fade-out {
  from { opacity: 1 }
  to { opacity: 0}
}


book:before, book:after {
  box-sizing: inherit;
}
.hotel-info-container *:before, .hotel-info-container *:after {
  content: "";
  position: absolute;
}


.modal-div {
  min-height: 85vh;
  overflow-y: auto;
}





.book{
  width:200px;
  height:250px;
  transform: translate(-50%, -50%);
  top:50%;
  left: 50%;
  background: #F33139;
  border-radius: 20px 16px 12px 32px;
  background-image: linear-gradient(to right,#D11F2F 48px, #ba0716 50px, transparent 50px);
   box-shadow:  2px 6px 40px 0px #FEA600
}
.book:after{
  height: 52px;
  width: 194px;
  bottom: 6px;
  right:0px;
  background: white;
  border-radius: 32px 4px 4px 32px;
  box-shadow: inset 4px 6px 0px 0px #E4E0CE;
  background-image: linear-gradient(to bottom, transparent 6px, #E4E0CE 8px, transparent 8px, transparent 12px, #E4E0CE 12px, transparent 14px, transparent 18px,#E4E0CE 18px, transparent 20px, transparent 24px, #E4E0CE 24px, transparent 26px, transparent 30px, #E4E0CE 30px, transparent 32px, transparent 36px, #E4E0CE 36px, transparent 38px, transparent 42px, #E4E0CE 42px, transparent 44px, transparent 48px, #E4E0CE 48px, transparent 50px);
}
.book:before{
  height: 20px;
  width: 160px;
  right: 40px;
  top: 72px;
}

.review-div {
    overflow-y: auto;
  background-color: lightcyan;
}
