
.loader {
  border: 12px solid #f3f3f3;
  border-top: 12px solid #3498db;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  animation: spin 1.75s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

nav > img:active,
nav > img:hover,
.hotel-name:hover {
  cursor: pointer;
}

header {
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: sans-serif, 'Times New Roman', Times, serif;
}

div > h3 {
  background-color: lightcyan;
}

.big-container,
.home,
.result-container {
  font-weight: bolder;
  font-family: sans-serif;
  background-color: lightcyan;
  border: none;
  outline: none;
  overflow-y: auto;
}

.trash-icon:hover {
  cursor: pointer;
  transform: scale(1.4);
}

.fav-button {
  background-image: url("./images/red-heart.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: lightcyan;
  width: 4rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: white;
  min-width: 50px;
}

.fav-button:active {
  transform: scale(0.8);
}

.fav-img {
  width: inherit;
}

.fav-button:focus {
  border: none;
  outline: none;
}

.fav-hotel-div {
  overflow: auto;
}

.search-form {
  max-width: 480px;
  display: block;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.75);
}

.search-container {
  background-image: url("./images/searchImg.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hotel-img {
  width: 100%;
}

.results-container {
  max-width: 1200px;
}
